@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (min-width: 1200px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
/* 
@media (min-width: 576px) { ... }
Medium devices (desktops):
@media (min-width: 768px) { ... }
Large devices (desktops):
@media (min-width: 992px) { ... }
Extra large devices (large desktops, TVs):
@media (min-width: 1200px) { ... } */
